:root {
    --dynamic-top-offset: 120px; /* For dynamic adjustments */
}

/* Text Styles */

@font-face {
    font-family: 'Sailec';
    src: url('assets/fonts/Sailec-Regular.woff') format('woff');
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: 'Sailec';
    src: url('assets/fonts/Sailec-Medium.woff') format('woff');
    font-weight: 500; /* Medium weight */
}

@font-face {
    font-family: 'Sailec';
    src: url('assets/fonts/Sailec-Bold.woff') format('woff');
    font-weight: 700; /* Bold weight */
}
.heading-one {
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    @apply font-bold tracking-[-0.96px] leading-[1.2];
}
.heading-two {
    font-size: clamp(1.5rem, 1vw + 1.25rem, 2rem);
    @apply font-bold tracking-[-0.48px] leading-[1.2];
}
.heading-three {
    @apply text-[24px] font-bold leading-[1.4];
}
.heading-four {
    @apply text-base font-bold leading-[1.4];
}
p {
    @apply text-sm md:text-base leading-normal font-normal text-charcoal;
}
.woocommerce-product-details__description ul {
    @apply list-disc list-inside space-y-2;

}

/* Layout Styles */
.container {
    max-width: 1400px;
    @apply max-w-none py-12 md:py-20 relative z-10;
}

/* Button Styles */
.btn {
    @apply font-semibold rounded-3xl py-3 px-12 cursor-pointer border-2 text-center leading-4;
    &:hover {
        @apply transition-colors duration-300;
    }
}
.btn-white {
    @apply bg-white border-copper ;
    &:hover {
        @apply bg-copper text-white ;
    }
}
.btn-copper {
    @apply bg-copper text-white border-copper ;
    &:hover {
        @apply bg-white text-charcoal;
    }
}




/* Policy template pages - update and refactor this */ 
.policy-template, .text-content {
    h1, h2, h3, h4 {
        @apply mb-4;
    }
    h1 {
        @apply heading-one;
    }
    h2 {
        @apply heading-two;
    }
    h3 {
        @apply heading-three;
    }
    h4 {
        @apply heading-four;
    }
    p {
        @apply mb-4;
    }
    ul {
        @apply list-disc list-inside space-y-2 mb-4;
    }
}


.custom-border {
    @apply border-dashed border-gray-300;
}